body {
    padding: 50px;
    background-color: #66CCFF;
    font-family: sans-serif;
  }
  #root {
    display: flex;
    justify-content: center;
  }
  /*.row {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}*/