body {
    padding: 50px;
    background-color: #66CCFF;
    font-family: sans-serif;
  }
  #root {
    display: flex;
    justify-content: center;
  }
  input[type="text"] {
    padding: 10px;
    display: flex;
}
label {
  font-weight: bold;
}
input[type="submit"] {
  padding: 10px;
  font-weight: bold;
}
.bmirange {
  font-weight: bold;
}
.range{
  font-weight: normal;
}